section{
    display: flex;
    border-width: 2pt;
    border-color: red;
    border-style: solid;
}

section *{
    flex-direction: column;
}

.element1{
    font-size: 3rem;
    background-color: blue;
}

.element2{
    font-size: 2rem;
    background-color: green;
}

